.lineup {
  background-image: url("../assets/img/pitch.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.player-box {
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 128, 0, 0.144), rgba(255, 255, 255, 0.034));
  border: 2px #63c1494d dashed;
  border-radius: 100%;
  overflow: hidden; /* Versteckt alles außerhalb des Kreises */
}

.player-image {
  pointer-events: none;
  user-select: none;
  width: 100%; /* Stellt sicher, dass das Bild die Box ausfüllt */
  height: 150%;
  object-fit: cover; /* Schneidet das Bild zu, um es an die Box anzupassen, ohne es zu verzerren */
}

.click-player {
  pointer-events: auto;
}


  .lineup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .player-box {
    margin: 10px;
  }
  
  .lineup > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .lineup > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .lineup > div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .lineup > div:nth-child(4) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .background {
    width: 100%;
    height: 100%;
    object-fit: inherit;
  }
  
  .foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .player {
    position: absolute;
  }
  
  .big_text{
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
  }

  .bench{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }